
:root {
  --bg-color: white;
  --primary-blue: #001435;
  --secondary-pink: #fd097a;
  --text-color: #aeafb1;
  --title-color: #0a133a;
  --border-radial-gradient: circle at top left, #ff00c8, #b1f5f7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:"Open Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.modal {             
  width: 420px;
  height: 200px;
  margin: auto;
  padding: 4px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.inner-modal {
  padding: 1px;
  position: relative;
  height: 190px;
  margin: auto;	
  border: double 2px transparent;
  border-radius: 6px;
  background-image: 
    linear-gradient(var(--bg-color), var(--bg-color)), 
    radial-gradient(var(--border-radial-gradient));
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
} 

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0 30px;

}
  
.modal-header .close {
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-blue);
  margin-right: -10px;
}
  
.modal-content {
  color: var(--text-color);
  padding: 0 30px;
  font-size: 12px;
}
  
.modal-footer {
  display: flex;
  justify-content:space-between;
  padding: 0 30px;
}
  
.btn {
  width: 156px;
  height: 36px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
  
.primary-btn {
  background-color:  var(--primary-blue);
}
.primary-btn:hover{
  opacity: 0.8;
}
.secondary-btn {
  background-color: var(--secondary-pink);
}
.secondary-btn:hover {
  opacity: 0.8;
}


/* Media Query ajuste para telas pequenas com menos de 420px */
@media (max-width: 420px) {
  .modal {
    width: 380px; /* Reduced width by 20px */
  }
  .btn {
    width: 140px;
  }
}